ion-radio {
    margin: 0 8px 0 0;
}

ion-button.ion-button-center {
    display: block;
    margin: 24px 30% 10px 30%;
    width: 100%;    
}

ion-col
{
    padding: 0;
}

ion-icon {
    font-size: 90px;
    margin: auto;
    display: block;
    color: cadetblue;
}

ion-icon.success {
    //color: cadetblue;
    color: mediumseagreen;
}

ion-icon.fail {
    color: crimson;
}
