$umb-color: #990000;

button.evaluame {
    background-color: rgb(0, 0, 0, 0);
    color: $umb-color;
    padding: 5px 10px;
    display: block;
    width: 120px;
    margin: 15px auto;
    ion-icon {
        font-size: 38px;
    }
    div {
        font-weight: bold;
    }
}

span.item {
    background-color: #990000;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    color: white;
    display: block;
    width: 35px;
    height: 35px;
}

ion-row.padding {
    padding: 5px;
}
p, h1, h2, h3, h4 {
    padding: 0 5px;
}

h4 {
    margin: 20px 0 0 0;
}

ion-icon {
    font-size: 25px;    
    padding: 5px;    
}