h4 {
    margin: 20px 0 0 0;
}

ul {
    padding: 0 0 0 24px;
}

table {
    margin: auto;
}

table th {
    padding: 4px 0px;
    padding: 5px;
    border: 1px solid;
}

table td {
    text-align: center;
    border: 1px solid;
    padding: 5px;    
}

table.ws-table-all th {
    border: none;
}

table.ws-table-all td {
    text-align: left;
    padding: 5px;
    border: none;
}

table.ws-table-all tr:nth-child(even) {
    background-color: #eeeef0;    
}

table.ws-table-all input {
    padding: 4px 4px;
    margin: 2px 4px;
}

table.ws-table-all input[type=submit], table.ws-table-all input[type=button] {
    padding: 6px 20px;
    margin: 2px auto;
    display: block;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    padding: 2px;
    overflow-y: scroll !important;
    resize: none;
    height: 60px !important;
}

fieldset {
    border: none;
    display: grid;
}

select {
    padding: 4px 4px;
}

.code-card {
    margin: 10px 0;
    font-size: smaller;
}

.code-pre {    
    line-height: 1.4em; 
    background: #eeeef0;
    padding: 18px 0 0 0;
    margin: -10px;
    color: #999;
}

code {
    background: #eeeef0;
    font-weight: bold;    
}

tag {
    color: #905;
}
name {
    color: #690;
}
value {
    color: #07a;
}
text {
    color: #222;
}
