<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
     
    </ion-buttons>
    <ion-title>Lecciones finalizadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">      
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4 class="ion-text-center">¡Felicidades!</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="school"></ion-icon>
          <p>Has finalizado las lecciones de este curso.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button class="ion-button-center" (click)="salir()"> 
          ACEPTAR
        </ion-button>
      </ion-row>   
    </ion-grid>
  </div>
</ion-content>