ion-button.action {
    color: #990000;
}

ion-button.pick {
    height: 20px;
    width: 20px;
    margin-left: 12px;
    cursor: pointer !important;    
}

code {    
    margin: 0;
    padding: 0;
    height: 24px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: sub;
}

label {
    margin-left: 12px;
    vertical-align: inherit;
    font-size: 15px;
    font-weight: lighter;
}

label.active {
    color: #000;
    font-weight: 600;
}

ion-select {
    border: 1px solid #333;
    margin-top: 2px;
    border-radius: 4px;
    text-align: center;
}

button.removeButton {
    padding: 5px;
    border-radius: 20px;
    font-size: 13px;
    width: 25px;
}
button.removeButton:hover{
    background-color: #666;
}

span.action-sheet-button-inner.sc-ion-action-sheet-md {    
    justify-content: center !important;
}

span.button-inner, ion-button.element {
    text-transform: lowercase !important;
    font-weight: 600;
}

ion-button.ion-button-center {
    display: block;
    margin: 24px 30% 10px 30%;
    width: 100%;    
}

ion-ripple-effect::after  {
    font-family: monospace;
}

.inner-scroll.scroll-y
{
    padding: 0;
}

.input-wrapper {
    padding: 0;
    margin: 0;
    height: fit-content;
}

ion-item {
    --min-height: 5px;
    --max-height: 10px;
}

h2 {
   padding: 0px;
   margin : 0px;
 }