<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()" class="action" fill="clear">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>  
      <ion-button (click)="editarAtributos()" class="action" fill="clear">
        <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
      </ion-button>  
      <ion-button (click)="editarEstilos()" class="action" fill="clear">
        <ion-icon slot="icon-only" name="color-palette-sharp"></ion-icon>
      </ion-button>  
      <ion-button (click)="setPreviewModalOpen(true)" class="action" fill="clear">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
      </ion-button>        
    </ion-buttons>
    <ion-title>Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="container">  

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="8">
      <ion-select #comboElements
        label="Action Sheet Interface" 
        interface="action-sheet" 
        placeholder="Seleccione una etiqueta" 
        cancelText="Cerrar"
        (ionChange)="handleChange($event)"
        clearInput="true">    
        <ion-select-option *ngFor="let item of combobox; let i = index" value="{{i}}" style="justify-content: center !important;">{{item}}</ion-select-option>
      </ion-select>      
    </ion-col>
    <ion-col size="2">
      <ion-button id="insertButton" (click)="insertar()">
        <ion-icon slot="icon-only" name="code-slash-sharp"></ion-icon>
      </ion-button>       
    </ion-col>
    <ion-col size="2">
      <ion-button id="insertModeButton" (click)="changeInsertMode()" fill="clear">
        <ion-icon slot="icon-only" name="{{insertModeIcon}}"></ion-icon>
      </ion-button> 
    </ion-col>
  </ion-row> 
  <ion-row>
    <ion-col>
      <ion-button class="element" (click)="AddDiv()">&lt;div&gt;</ion-button>      
      <ion-button class="element" (click)="AddH1()">&lt;h1&gt;</ion-button>
      <ion-button class="element" (click)="AddParagraph()">&lt;p&gt;</ion-button>
      <ion-button class="element" (click)="AddInput()">&lt;input&gt;</ion-button>
    </ion-col>
  </ion-row> 
</ion-grid>

<figure class="code-card">
  <pre class="code-editor"><code class="line" *ngFor="let item of DOM; let i = index"><ion-button class="pick" *ngIf="item.active; else inactiveButton" (click)="pick(i)"><b>{{i+1}}</b></ion-button><ng-template #inactiveButton><ion-button class="pick" (click)="pick(i)">{{i+1}}</ion-button></ng-template><label class="active" *ngIf="item.active; else inactive">{{item.html}}</label><ng-template #inactive><label>{{item.html}}</label></ng-template><br></code><br></pre>
</figure>

</div>
</ion-content>

<ion-modal [isOpen]="isPreviewOpen">
  <ng-template #modal>
    <ion-header>
      <ion-toolbar>
        <ion-title>Previsualización</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setPreviewModalOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [innerHTML]=this.trustedHTML>

    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="isAttributeOpen">
  <ng-template #modal>
    <ion-header>
      <ion-toolbar>
        <ion-title>Atributos de la etiqueta</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setAttributeModalOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngFor="let item of attributesList; let i = index">
              <ion-label><span style="color:#990000">{{item.name}}</span>:</ion-label>
              <ion-input [(ngModel)]="item.value" type="text" placeholder="Valor atributo..."></ion-input>
              <button item-right ion-button icon-only (click)="removeAttribute(i)" class="removeButton">
                  <ion-icon name="close"></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>   
        <ion-row>         
            <ion-button class="ion-button-center" (click)="aceptarAtributos()"> 
              ACEPTAR
            </ion-button>
        </ion-row>   
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isStyleOpen">
  <ng-template #modal>
    <ion-header>
      <ion-toolbar>
        <ion-title>Estilos de la etiqueta</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setStyleModalOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngFor="let item of styleList; let i = index">
              <ion-label><span style="color:#990000">{{item.name}}</span>:</ion-label>
              <ion-input [(ngModel)]="item.value" type="text" placeholder="Valor atributo..."></ion-input>
              <button item-right ion-button icon-only (click)="removeStyle(i)" class="removeButton">
                  <ion-icon name="close"></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>   
        <ion-row>         
            <ion-button class="ion-button-center" (click)="aceptarEstilos()"> 
              ACEPTAR
            </ion-button>
        </ion-row>   
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>