<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">    
    <ion-list>
      <ion-item *ngFor="let leccion of lecciones" [routerLink]="['/html/leccion']" [queryParams]="{id: leccion.number}">
        <ion-avatar>
          {{leccion.number}}
        </ion-avatar>
        <ion-label>
          {{leccion.title}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>